<div class="job-app-container">
    <div class="container-fluid montserrat pt-3 px-5">
        <h1 class="mb-5">Job Application Tracker</h1>
    
        <div class="d-sm-flex mb-3">
            <div class="row row-cols-lg-auto g-2 align-items-center">
                <div class="col-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Filter</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search"/>
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="ms-auto my-1 my-sm-0">
                <button class="btn btn-primary mx-1">Add New Application</button>
                <button class="btn btn-primary mx-1">Export as CSV</button>
            </div>
        </div>
        <div>
            <table class="table table-hover ">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Company Name</th>
                      <th scope="col">Job Title</th>
                      <th scope="col">Application Status</th>
                      <th scope="col">Application Date</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <button class="btn btn-sm btn-info m-1 mx-md-1 text-white" title="View">
                                <i class="bi bi-journal-text"></i>
                            </button>
                            <button class="btn btn-sm btn-success m-1 mx-md-1" title="Edit">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-sm btn-danger m-1 mx-md-1" title="Delete">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <button class="btn btn-sm btn-info mx-1 text-white">
                                <i class="bi bi-journal-text"></i>
                            </button>
                            <button class="btn btn-sm btn-success mx-1">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-sm btn-danger mx-1">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mark</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <button class="btn btn-sm btn-info mx-1 text-white">
                                <i class="bi bi-journal-text"></i>
                            </button>
                            <button class="btn btn-sm btn-success mx-1">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-sm btn-danger mx-1">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>