<div class="d-sm-flex">
    <p class="lead">Dream List</p>
    <div class="hstack gap-1 ms-auto">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="dreamListSearch"/>
        <button class="btn btn-primary btn-sm w-50 ms-1" (click)="getDreamList()">
            Get List
        </button> 
        <button class="btn btn-primary btn-sm ms-1" 
            data-bs-toggle="modal" 
            data-bs-target="#dictionaryModalForm"
            (click)="addButtonClick()">
            ADD
        </button>
    </div>
</div>
<table class="table table-hover mt-2">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Dream Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <ng-container *ngIf="dreamList">
        <tbody *ngFor="let dream of dreamList
        | filter : dreamListSearch : 'dreamName' : filterMetadata
        | paginate : { itemsPerPage: itemCount, currentPage: currentPage }
        ">
            <tr>
                <th scope="row">{{dream?.id}}</th>
                <td>
                    <a class="navbar-brand cursor-pointer me-1" 
                        data-bs-toggle="modal" 
                        data-bs-target="#viewDictionary"
                        (click)="getSelectedItem(dream?.id)">
                        {{dream?.dreamName}}
                    </a>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm me-1" 
                        data-bs-toggle="modal" 
                        data-bs-target="#dictionaryModalForm"
                        data-bs-dismiss="modal"
                        (click)="getSelectedItem(dream?.id)">
                        EDIT
                    </button>
                    <button class="btn btn-primary btn-sm me-1"
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteModal" 
                        data-bs-dismiss="modal"
                        (click)="getSelectedItem(dream?.id)">
                        DELETE
                    </button>
                </td>
            </tr>
        </tbody>
    </ng-container>
</table>
<ng-container *ngIf="dreamList && dreamList.length > itemCount">
    <div class="text-center">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</ng-container>

<!-- Dictionary View Modal -->
<view-description-modal
  [modalId]="'viewDictionary'"
  [name]="selectedDream?.dreamName"
  [description]="selectedDream?.dreamDescription"
  [categoryId]="selectedDreamCategory"
  [isDreamDictionary]="true"
></view-description-modal>

<!-- Dictionary Forms Modal -->
<dictionary-form
  [modalId]="'dictionaryModalForm'"
  [formGroup]="yumeFormGroup"
  [dreamThemeList]="dreamThemeList"
  (onResetButtonClick)="resetForm()"
  (onUpSertButtonClick)="onUpSertDream()"
></dictionary-form>

<!-- Dictionary Delete Modal -->
<delete-modal
  [modalId]="'deleteModal'"
  [selectedId] = "selectedDream?.id"
  [selectedName] = "selectedDream?.dreamName"
  (onDeleteConfirm)="onDeleteDreamConfirm()"
></delete-modal>