<div class="position-relative dictionary-background">
    <div class="text-center">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="container-relative-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Page not found</h2>
            <a [routerLink]="['/']" class="btn btn-dkpurple text-white">
                <span><i class="bi bi-house"></i></span>
                Return to Home
            </a>
        </div>
    </div>
</div>