<nav class="navbar navbar-expand-lg text-dark" id="transparentBg">
    <div class="container">
        <h4 class="navbar-brand fs-1 purple-shadow text-light handlee">
            <a class="nav-link d-sm-block" [routerLink]="['/']">
                <span class="fw-bold align-content-center">君の夢</span>
                <p class="fs-5 text-start m-0">
                    Your Dream
                </p>
            </a>
        </h4>
        <button class="navbar-toggler" 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navigationBar">
            <span class="text-light">
                <i class="bi bi-three-dots-vertical"></i>
            </span>
        </button>
        
        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navigationBar">
            <ul class="navbar-nav mb-lg-0 fs-6">
                <li class="nav-item m-md-3 m-2">
                    <a class="nav-link link-light" [routerLink]="['/']">
                        HOME
                    </a>
                </li>
                <li class="nav-item m-md-3 m-2">
                    <a href="#" class="nav-link link-light" [routerLink]="['/search']">
                        SEARCH
                    </a>
                </li>
                <li class="nav-item m-md-3 m-2">
                    <a href="#" class="nav-link link-light" [routerLink]="['/list']">
                        DREAM LIST
                    </a>
                </li>
                <li class="nav-item m-md-3 m-2">
                    <a class="nav-link link-light" [routerLink]="['/about']">
                        ABOUT
                    </a>
                </li>
                <!-- <li class="nav-item m-md-3 m-2">
                    <a class="nav-link link-light" [routerLink]="['/contact']">
                        CONTACT
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>