<div class="d-sm-flex">
    <p class="lead">Dream Theme List</p>
    <div class="hstack gap-1 ms-auto">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="dreamCategorySearch">
        <button class="btn btn-primary btn-sm w-50 ms-1" (click)="getDreamThemeList()">
            Get List
        </button> 
        <button class="btn btn-primary btn-sm ms-1" 
            data-bs-toggle="modal" 
            data-bs-target="#themeModalForm"
            (click)="addButtonClick()">
            ADD
        </button>
    </div>
</div>
<table class="table table-hover mt-2">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Dream Theme</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <ng-container *ngIf="dreamThemeList">
        <tbody *ngFor="let theme of dreamThemeList 
        | filter: dreamCategorySearch : 'categoryName'
        | paginate : { itemsPerPage: itemCount, currentPage: currentPage }
        ">
            <tr>
                <th scope="row">{{theme?.id}}</th>
                <td>
                    <a class="navbar-brand cursor-pointer me-1" 
                        data-bs-toggle="modal" 
                        data-bs-target="#viewDreamTheme"
                        (click)="getSelectedDreamThemeItem(theme?.id)">
                        {{theme?.categoryName}}
                    </a>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm me-1" 
                        data-bs-toggle="modal" 
                        data-bs-target="#themeModalForm"
                        (click)="getSelectedDreamThemeItem(theme?.id)">
                        EDIT
                    </button>
                    <button class="btn btn-primary btn-sm me-1" 
                        data-bs-toggle="modal" 
                        data-bs-target="#delThemeModal" 
                        (click)="getSelectedDreamThemeItem(theme?.id)">
                        DELETE
                    </button>
                </td>
            </tr>
        </tbody>
    </ng-container>
</table>
<ng-container *ngIf="dreamThemeList && dreamThemeList.length > itemCount">
    <div class="text-center">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</ng-container>



<!-- Dream Theme View Modal -->
<view-description-modal
  [modalId]="'viewDreamTheme'"
  [name]="selectedDreamTheme?.categoryName"
  [description]="selectedDreamTheme?.description"
  [isDreamDictionary]="false"
></view-description-modal>

<!-- Dream Theme Forms Modal -->
<category-form
  [modalId]="'themeModalForm'"
  [formGroup]="dreamThemeFormGroup"
  (onUpSertButtonClick)="onUpSertDreamTheme()"
></category-form>

<!-- Dream Theme Delete Modal -->
<delete-modal
  [modalId]="'delThemeModal'"
  [selectedId] = "selectedDreamTheme?.id"
  [selectedName] = "selectedDreamTheme?.categoryName"
  (onDeleteConfirm)="onDeleteDreamTheme()"
></delete-modal>