<navigation></navigation>
<div class="position-relative" style="height: 88vh;">
    <div class="position-absolute top-50 start-50 translate-middle about-bg">
        <div class="container">
            <figure class="text-center">
                <figcaption class="blockquote-footer">
                    The information contained in this website is for general information purposes only.
                </figcaption>
                <figcaption class="blockquote-footer">
                    All Credits to: 
                </figcaption>
                <blockquote class="blockquote">
                  <p>
                    Vigo, Michael.  (2000, Mar).  Analyzing Your Daydreams. Dream Moods. http://www.dreammoods.com/dreaminformation/dreamtypes/daydreams.htm (1 Jun 2001).
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer mt-3">
                    Visit their <a href="http://www.dreammoods.com/">website</a> for more information.
                </figcaption>
            </figure>
        </div>
    </div>
</div>