<div class="p-3">
  <nav-home [currentPage]="'ADMIN'"></nav-home>
</div>

<spinner></spinner>

<div class="container-fluid py-3">
  <div class="row px-5">
    <div class="col-md-6 col-sm-12">
      <dictionary-list
        [dreamList]="dreamList"
        (onGetDreamList)="onGetDreamList()"
        (onShowAddDreamForm)="onShowAddDreamForm()"
        (onGetSelectedDreamItem)="onGetSelectedDreamItem($event)"
      ></dictionary-list>
    </div>
    <div class="col-md-6 col-sm-12">
      <category-list
        [dreamThemeList]="dreamThemeList"
        (onGetDreamThemeList)="onGetDreamThemeList()"
        (onShowAddForm)="onShowAddDreamThemeForm()"
        (onGetSelectedDreamThemeItem)="onGetSelectedDreamThemeItem($event)"
      ></category-list>
    </div>
  </div>
</div>

<!-- Dictionary View Modal -->
<view-description-modal
  [modalId]="'viewDictionary'"
  [name]="selectedDream?.dreamName"
  [description]="selectedDream?.dreamDescription"
  [categoryId]="selectedDreamCategory"
  [isDreamDictionary]="true"
></view-description-modal>

<!-- Dream Theme View Modal -->
<view-description-modal
  [modalId]="'viewDreamTheme'"
  [name]="selectedDreamTheme?.categoryName"
  [description]="selectedDreamTheme?.description"
  [isDreamDictionary]="false"
></view-description-modal>

<!-- Dictionary Forms Modal -->
<dictionary-form
  [modalId]="'dictionaryModalForm'"
  [formGroup]="yumeFormGroup"
  [dreamThemeList]="dreamThemeList"
  (onResetButtonClick)="resetForm()"
  (onUpSertButtonClick)="onUpSertDream()"
></dictionary-form>

<!-- Dream Theme Forms Modal -->
<category-form
  [modalId]="'themeModalForm'"
  [formGroup]="dreamThemeFormGroup"
  (onUpSertButtonClick)="onUpSertDreamTheme()"
></category-form>

<!-- Dictionary Delete Modal -->
<delete-modal
  [modalId]="'deleteModal'"
  [selectedId] = "selectedDream?.id"
  [selectedName] = "selectedDream?.dreamName"
  (onDeleteConfirm)="onDeleteDreamConfirm()"
></delete-modal>

<!-- Dream Theme Delete Modal -->
<delete-modal
  [modalId]="'delThemeModal'"
  [selectedId] = "selectedDreamTheme?.id"
  [selectedName] = "selectedDreamTheme?.categoryName"
  (onDeleteConfirm)="onDeleteDreamTheme()"
></delete-modal>