<div class="dictionary-background vh-100">
    <navigation></navigation>
    <div class="container p-vh-2">
        <h1 class="purple-shadow">Enter a Dream</h1>
        <div class="row">
            <div class="col">
                <input type="text" 
                    class="form-control" 
                    placeholder="What's in your dream?"
                    [(ngModel)]="searchValue"
                />
            </div>
        </div>
    </div>
    <div class="container" *ngIf="searchValue">
        <div class="text-md-start text-center">
            <p class="fs-3 purple-shadow">
                <span class="me-2">Search Results Found:</span>
                <span class="font-monospace">{{ filteredResultCount() }}</span>
            </p>
            <div class="row text-dark" *ngIf="combinedList">
                <ng-container *ngFor="let dream of combinedList | filter : searchValue : 'name': filterMetadata">
                    <accordion-result
                        [id]="dream?.id"
                        [title]="dream.name"
                        [description]="dream?.description"
                    ></accordion-result>
                </ng-container>
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
</div>