<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title fs-4 fw-bold text-dark">Delete</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <p class="text-dark">
                Are you sure you want to delete {{selectedId}} - <strong>{{selectedName}}</strong>?
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteConfirm()">Save</button>
        </div>
    </div>
</div>