<!-- <div class="d-flex">
    <a class="ms-auto admin-link link-dark" [routerLink]="[routerLink]">LOGIN</a>
</div> -->

<div class="dictionary-background">
    <div class="container">
        <div class="d-flex kimi-container">
            <div class="m-auto">
                <div class="d-sm-flex align-items-center justify-content-center cursor-default">
                    <h1 class="display-1 text-center text-md-start text-white purple-shadow">
                        Welcome to
                        <h5 class="display-1 handlee purple-shadow">
                            <span class="fw-bold">君の夢</span>
                            <p class="fs-2 text-white">
                                Your Dream
                            </p>
                        </h5>
                    </h1>
                    <div class="col-md-6 text-md-start text-center">
                        <div class="mx-5 px-3">
                            <p class="fs-2 text-secondary text-white purple-shadow">
                                Unlock and interpret the meaning of your dreams.
                            </p>
                            <a class="btn btn-dkpurple text-white" [routerLink]="['../search']">
                                <i class="bi bi-chevron-right"></i> Search for a dream symbol
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>