

<div class="d-relative dictionary-background">
    <navigation></navigation>
    <div class="d-absolute text-center">
        <div class="container">
            <h1 class="display-1">
                Welcome to
                <p style="display: inline-flex; flex-direction: column;" class="fw-bold text-white purple-shadow handlee">
                    <sup>君の夢</sup>
                    <span class="fs-5">Your Dream</span>
                </p>
            </h1>
            <span class="m-0 p-0 fs-4 text-secondary text-dark">
                Unlock and interpret the meaning of your dreams.
            </span>
        </div>
        <div class="row mt-5">
            <div class="col g-2">
                <button class="btn btn-dkpurple text-white w-75 rounded-pill"
                [routerLink]="['../search']">
                    <span><i class="bi bi-search"></i></span>
                    Search
                </button>
            </div>
        </div>
    </div>
</div>