<div class="dictionary-background">
    <navigation></navigation>
    <div class="position-relative h-75">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="container">
                <h1 class="fw-bold mb-3">About</h1>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center text-md-start">
                        <p>
                            The content provided on this website is intended for general informational purposes only. 
                            <br> All credits for the information go to:
                        </p>
                        Vigo, Michael.  (2000, Mar).  Analyzing Your Daydreams. Dream Moods. 
                        <br> http://www.dreammoods.com/dreaminformation/dreamtypes/daydreams.htm (1 Jun 2001).
        
                        <p class="mt-2">
                            Please visit their <a href="http://www.dreammoods.com/">website</a> for more information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>