<div class="dictionary-background">
    <navigation></navigation>
    <div class="d-absolute">
        <div class="container text-center text-md-start">
            <div class="card">
                <div class="card-body">
                    <h1 class="fw-bold mb-3 text-white purple-shadow">
                        About
                    </h1>
                    <div class="card-text" style="min-width: 50%;">
                        <p>
                            The content provided on this website is intended for general informational purposes only. 
                            <br> All credits for the information go to:
                        </p>
                        <p>
                            Vigo, Michael.  (2000, Mar).  Analyzing Your Daydreams. Dream Moods. 
                        <br> http://www.dreammoods.com/dreaminformation/dreamtypes/daydreams.htm (1 Jun 2001).
                        </p>
                        <p class="mt-2">
                            Please visit their <a href="http://www.dreammoods.com/">website</a> for more information.
                        </p>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>