
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap')
;@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.handlee {
    font-family: 'Handlee';
}

.marcellus {
    font-family: 'Marcellus';
}

.josefin-slab {
    font-family: 'Josefin Slab', serif;
}

.raleway {
    font-family: 'Raleway', serif;
}

html {
    scroll-behavior: smooth;
    height: 100vh !important;
}

.dictionary-background {
    font-family: 'Marcellus';
    background-image: url('src/assets/images/dreamy.jpg');
    background-repeat: no-repeat;
    position: relative; 
    display: block;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    height: 100vh;
    min-height: 100vh;
}

#container-relative {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.container-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.btn-dkpurple {
    background-color: #8080ff;
}

.btn-dkpurple:hover {
    background-color: #6e6efc;
}

.purple-shadow {
    text-shadow: 2px 2px #e2a6e6;
}

.purple-underline {
    border-bottom: 3px solid #e2a6e6;
}

.white-underline {
    border-bottom: 3px solid white;
}

.ngx-pagination {
    color: white !important;
}

.ngx-pagination li {
    background: #8080ff !important;
}

.ngx-pagination .disabled {
    background: #cacaca !important;
    color: white !important;
}

.ngx-pagination li a:hover {
    background: #7272ff !important;
}

.admin-link {
    font-size: .8rem;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.admin-link:hover {
    text-decoration: underline;
    cursor: default;
}

textarea {
    resize: none;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.text-pink {
    color: #df96a7;
}

.btn-pink {
    background-color: #df96a7;
}

.btn-pink:hover{
    background-color: #E15373;
}

.pink-shadow {
    text-shadow: 2px 2px #df96a7;
}