<div class="dictionary-background vh-100">
    <navigation></navigation>
    <div class="container p-vh-2">
        <div [formGroup]="form">
            <div class="row">
                <div class="col-4 g-2 py-2 py-md-0 ">
                    <span>By Symbol: </span>
                    <select class="form-select" formControlName="selectedLetter">
                        <option value="null" disabled>Dream Symbol</option>
                        <option *ngFor="let letter of alphabet" [ngValue]="letter">
                            <span>{{letter}}</span>
                        </option>
                    </select>
                </div>
                <div class="col-8 g-2 py-2 py-md-0 ">
                    <span>By Category: </span>
                    <select class="form-select" formControlName="selectedTheme">
                        <option value="null" disabled>Dream Category</option>
                        <option *ngFor="let theme of categoryList" [ngValue]="theme.id">
                            <span>{{theme.categoryName}}</span>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="border border-black border-2 opacity-50 my-4">
    </div>
    
    <div class="container">
        <ng-container *ngIf="selectedCategory">
            <div class="mb-4">
                <h2 class="purple-shadow text-white">{{selectedCategory}}</h2>
                <p class="justify-text">{{categoryDescription}}</p>
            </div>
        </ng-container>
        <div class="list-container">
            <ng-container *ngIf="symbolList.length > 0">
                <ng-container *ngFor="let item of symbolList | paginate : { itemsPerPage: 10, currentPage: currentPage }; let i = index; ">
                    <accordion-result
                        [id]="i"
                        [title]="item.dreamName"
                        [description]="item.dreamDescription"
                    ></accordion-result>
                </ng-container>
                <ng-container *ngIf="symbolList.length > itemCount">
                    <div class="text-center text-dark py-3">
                        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
