<navigation></navigation>
<div class="container py-4">
    <div class="d-flex flex-wrap justify-content-evenly">
        <ng-container *ngIf="alphabet">
            <ng-container *ngFor="let letter of alphabet">
                <button class="btn badge rounded-pill text-bg-light m-1" (click)="onClickLetter(letter)">{{letter}}</button>
            </ng-container>
        </ng-container>
    </div>
</div>

<div class="container">
    <ng-container *ngIf="selectedLetter">
        <h4>Words starting with 
            <strong>
                <span class="purple-underline text-uppercase">
                    {{selectedLetter}}
                </span>
            </strong>
        </h4>  
    </ng-container>
    <div class="list-container">
        <ng-container *ngIf="list.length > 0">
            <ng-container *ngFor="let item of list | paginate : { itemsPerPage: 10, currentPage: currentPage }; let i = index; ">
                <accordion-result
                    [id]="i"
                    [title]="item.dreamName"
                    [description]="item.dreamDescription"
                ></accordion-result>
            </ng-container>
            <ng-container *ngIf="list.length > itemCount">
                <div class="text-center text-dark py-3">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #accordionResult let-id="id" let-title="title" let-description="description">
    <div class="col-sm-12 py-2">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title fw-bold mb-3">
                    <a class="navbar-brand purple-underline cursor-pointer" 
                    data-bs-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+id">
                        {{title}}
                    </a> 
                </h5>
                <p [id]="'collapse'+id" class="collapse card-text fs-6 fw-light">
                    {{description}} Lorem ipsum dolor sit amet consectetur.
                </p>
            </div>
        </div>
    </div>
</ng-template>